extends layout

block content
  div(class="generald")
    h1 AGENDA
    input(type='month')
    
    div(class="espacement")
      div(class="row")
        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation électroménager
            div(class="calendar") 
              div Mai
              div 18
              div Ven
          div(class="partieM")
            a(href='http://www.lapetiterockette.org/event/reparation-electromenager/?instance_id=14758', target="_blank")
              img(class='photo', src='images/trockette.png')

        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation electromenager (Particulier) 
            div(class="calendar") 
              div Mai
              div 31
              div Jeu
          div(class="partieM")
            a(href='/benevole', target="_blank")
              img(class='photo', src='images/trockette.png')
            
        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation petit électroménager
            div(class="calendar") 
              div Tout
              div les 
              div Jours
          div(class="partieM")
            a(href='https://repaircafeparis.fr/', target="_blank")
              img(class='photo', src='images/trockette.png')
            
        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation d'électroménager
            div(class="calendar") 
              div Mai
              div 9
              div Lun
          div(class="partieM")
            a(href='http://www.lapetiterockette.org/event/reparation-electromenager/?instance_id=14758', target="_blank")
              img(class='photo', src='images/trockette.png')
            
      div(class="row")  
        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation d'électroménager
            div(class="calendar") 
              div Mai
              div 9
              div Lun
          div(class="partieM")
            a(href='http://www.lapetiterockette.org/event/reparation-electromenager/?instance_id=14758', target="_blank")
              img(class='photo', src='images/trockette.png')

        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation Aspirateur
            div(class="calendar") 
              div Mai
              div 31
              div Lun
          div(class="partieM")
            a(href='/benevole', target="_blank")
              img(class='photo', src='images/trockette.png')

        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation d'électroménager
            div(class="calendar") 
              div Mai
              div 9
              div Lun
          div(class="partieM")
            a(href='http://www.lapetiterockette.org/event/reparation-electromenager/?instance_id=14758', target="_blank")
              img(class='photo', src='images/trockette.png')

        div(class="col s3 bord") 
          div(class="partieH")
            p Réparation d'électroménager
            div(class="calendar") 
              div Mai
              div 9
              div Lun
          div(class="partieM")
            a(href='http://www.lapetiterockette.org/event/reparation-electromenager/?instance_id=14758', target="_blank")
              img(class='photo', src='images/trockette.png')
