extends layout

block content

  div(class="general")
    p Agenda
    input(type='month')

    div(class="content")
     div(class="partieH")
       p Réparation d'électroménager
       div(class="calendar") 
         div Mai
         div 9
         div Lun
     a(href='http://www.lapetiterockette.org/event/reparation-electromenager/?instance_id=14758', target="_blank")
       div(class="partieM")
         img(class='logo', src='https://cdn.pixabay.com/photo/2014/04/02/10/56/recycling-304974_960_720.png')
     div(class="partieF")
       p FOOTER

    div(class="content")
     div(class="partieH")
       p Réparation Aspirateur
       div(class="calendar") 
         div Mai
         div 31
         div Lun
     a(href='/benevole', target="_blank")
       div(class="partieM")
         img(class='logo',src='https://image.freepik.com/icones-gratuites/appareil-melangeur_318-42632.jpg')
     div(class="partieF")
       p FOOTER 
