extends layout

block content
  div(class='row')
    div(class='col s12')
      div(class='col s2')
        a(href="/")
          img(class="miniLogo", src="images/testlog.png")
      div(class='col s8 titre')  
        h1 INSCRIPTION BENEVOLE 
  
  div(class='container')
    form(name="add-estimation", method="post" )
        div.input
          span.label Nom
          input(type="text", name="Nom" , required)
        div.input
          span.label Prenom
          input(type="text", name="Prenom" , required) 
        div.input
          span.label Mail
          input(type="email", required, name="Mail")
        label(for="eclectromenage") Choisisez votre spécialité
        select(id="eclectromenage" name="eclectromenager" , required)
          option Frigo
          option Micro-onde
          option Robot
          option Lave-Linge
          option Aspirateur
        div.input
          span.label Disponibilité
          input(type="text", name="Disponibilité" , required)                 
        div.actions
          input(type="submit", value="Valider")
  footer
    ul
      li
        a(href="#") Team
      li
        a(href="#") Privacy
    p <b>Belleville Repair</b> <br> &copy; 2014, All Rights Reserved
                                
            
