extends layout

block content
  div(class="header")
    img(class="logo", src="images/testlog.png")

  div(class="main")
    div(class="partieUne")
      h3 Belleville Repair
    
    div(class="partieDeux")
      div(class="row") 
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
      div(class="row")  
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
      div(class="row")  
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")  
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")

      footer   
  footer
    ul
      li
        a(href="#") Team
      li
        a(href="#") Privacy
    p <b>Belleville Repair</b> <br> &copy; 2014, All Rights Reserved
