extends layout

block content
  div(class="header")
    img(class="logo", src="images/testlog.png")

  div(class="main")
    div(class="partieUne")
      h3 BELLEVILLE REPAIR
      p Belleville Repair, est un site web porté par plusieurs associations qui luttent contre le gaspillage et l'obsolescence programmée. </br> Le site permet la mise en contact entre associations, réparateurs et réparatrices bénévoles et habitant.e.s. 
      p(class='phraseA') <b> REPARONS TOUT ! </b> 
      a(href='/formulaire')  
        h6 Réparateurs/Réparatrices, contactez-nous !  
    
    div(class="partieDeux")
      div(class="containpicto")
        div(class="row") 
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/train.png")
          div(class="col s3") 
            a(href='/images/shoes.png')
              img(class='picto',src="/images/scooter.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/bicycle.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/smartphone.png")
        div(class="row")  
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/car.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/cap.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/laptop.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/robot.png")
        div(class="row")  
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/microwave-oven.png")  
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/table.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/wedding-ring.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/synthesizer.png")
  footer
    ul
      li
        a(href="#") Team
      li
        a(href="#") Privacy
    p <b>Belleville Repair</b> <br> &copy; 2014, All Rights Reserved
