extends layout

block content
  div(class="header")
    img(class="logo", src="images/testlog.png")

  div(class="main")
    div(class="partieUne")
      h3 Belleville Repair
      p lskdvxcjdsvjjdzhvhjdqhvhxhdjsdhvjxcjhjsdfhvjxhjfsdhvjhjfsdhvhdjhfsdvhsjhhfsdvhgsjhkf </br> dlsjkhjesjdfjbrkjdfjhejdjklorem 
      a(href='/formulaire')
        h6 Inscription en tant que bénevole 
    
    div(class="partieDeux")
<<<<<<< HEAD
      div(class="containpicto")
        div(class="row") 
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/train.png")
          div(class="col s3") 
            a(href='/images/shoes.png')
              img(class='picto',src="/images/scooter.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/bicycle.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/smartphone.png")
        div(class="row")  
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/car.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/cap.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/laptop.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/robot.png")
        div(class="row")  
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/microwave-oven.png")  
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/table.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/wedding-ring.png")
          div(class="col s3") 
            a(href='/agenda')
              img(class='picto',src="/images/synthesizer.png")
        footer   
=======
      div(class="row") 
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
      div(class="row")  
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")
      div(class="row")  
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")  
        div(class="col s3") 
          a(href='/agenda')
            img(class='picto',src="https://thumbs.dreamstime.com/b/ensemble-color%C3%A9-d-ic-ne-d-appareil-%C3%A9lectrom%C3%A9nager-42634378.jpg")

 
>>>>>>> 592b9b15b9f03aa1bcc635b2baf27f2056e6753f
  footer
    ul
      li
        a(href="#") Team
      li
        a(href="#") Privacy
    p <b>Belleville Repair</b> <br> &copy; 2014, All Rights Reserved
