extends layout

block content
  a(href="/")
    img(class="miniLogo", src="images/testlog.png")
    
  p(class="mail") Votre inscription a bien été enregistrée ! </br> L'équipe vous contactera très bientôt !
      
  
